parameters:
  level: 5
  paths:
    - src/SimpleQuests

  ignoreErrors:
    - '#Instantiated class jojoe77777\\\\FormAPI\\\\SimpleForm not found#'
    - '#Instantiated class jojoe77777\\\\FormAPI\\\\CustomForm not found#'
    - '#Offset int on array\\{\\} on left side of \\?\\? does not exist#'
    - '#Strict comparison using !== between null and null#'
    - '#Unreachable statement - code above always terminates#'

  reportUnmatchedIgnoredErrors: false
